body{
    font-size: 20px;
    background-color: #F7F8ED;
    font-family: 'Roboto', sans-serif;
    color: rgb(41, 41, 41);
    line-height: 25px;
    letter-spacing: 1px;
}

p, li{
    font-size: 16px;
}

.title-style{
    color: #498FEB;
    font-weight: 500;
}

.picture{
    border-radius: 10%;
}

.button{
    background-color: #37D47B;
    color: white;
    text-decoration: none;
    line-height: 40px;
    padding: 8px;
}

.button-link{
    text-decoration: none;
}

.very{
    font-size: 20px;
    font-weight: 500;
}

.different{
    font-size: 18px;
}