*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 20px;
    background-color: white;
    color: #333;
    line-height: 25px;
    letter-spacing: 1px;
}

#margem{
    padding: 60px;
}

p, li{
    font-size: 16px;
}

.title-style{
    font-weight: 500;
    line-height: 150px;
    border: 1px solid black;
    margin: 0px 100px;
}

.picture{
    
}

.button{
    margin: 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    line-height: 40px;
    border: 1px solid black;
}

.button-link{
    text-decoration: none;
}

.very{
    font-size: 20px;
    font-weight: 500;
}

.different{
    font-size: 18px;
}