*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Syne Mono', monospace;
    background-image: url("./images/textura-papel");
    background-size: contain;
    font-size: 20px;
    color: #333;
    line-height: 25px;
    letter-spacing: 1px;
}

.margem{
    padding: 10px 520px;
    text-align: center;
}

.together{
    display: inline-block;
    margin: 0px 20px;
}

.title-style{
    font-weight: 400;
    line-height: 200px;
    border: 1px solid black;
    margin: 0px 80px;
}

.button{
    background-color: #333;
    color: white;
    text-decoration: none;
    line-height: 70px;
    padding: 8px;
    border: 2px solid black;
    
}

.button-selected{
    background-color: rgb(97, 97, 97);
    color: white;
    text-decoration: none;
    line-height: 70px;
    padding: 8px;
    border: 2px solid black;
}
