body{
    font-size: 20px;
    background-color: white;
    color: #333;
    line-height: 25px;
    letter-spacing: 1px;
}

p, li{
    font-family: 'Architects Daughter', cursive;
    font-size: 16px;
}

.title-style{
    font-weight: 500;
    border: 1px solid black
}

.picture{
    border-radius: 10%;
}

.button{
    background-color: #333;
    color: white;
    text-decoration: none;
    line-height: 40px;
    padding: 15px;
    border: 1px solid black;
}

.button-link{
    text-decoration: none;
}

.very{
    font-size: 20px;
    font-weight: 500;
}

.different{
    font-size: 18px;
}