*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    background-color: white;
    color: #333;
    line-height: 25px;
    letter-spacing: 2px;
}

#margem{
    padding: 10px 600px;
    text-align: center;
}

p, li{
    font-size: 16px;
}

.together{
    display: inline-block;
    margin: 0px 20px;
}

.title-style{
    font-weight: 400;
    line-height: 500px;
    border: 1px solid black;
    margin: 0px 80px;
}

.button{
    background-color: #333;
    color: white;
    text-decoration: none;
    line-height: 70px;
    padding: 8px;
    border: 1px solid black;
}

.button-link{
    text-decoration: none;
}

.very{
    font-size: 20px;
    font-weight: 500;
}

.different{
    font-size: 18px;
}