*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Syne Mono', monospace;
    background-image: url("./images/textura-papel");
    background-size: contain;
    font-size: 20px;
    color: #333;
    line-height: 25px;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
    color: #333;
}

.margem{
    padding: 10px 520px;
    text-align: center;
}

.together{
    display: inline-block;
    margin: 0px 20px;
}

.title-style{
    font-weight: 400;
    line-height: 240px;
    border: 1px solid black;
    margin: 0px 80px;
}

.button{
    background-color: #333;
    color: white;
    line-height: 70px;
    padding: 8px;
    border: 2px solid black;
    
}

.button-selected{
    background-color: rgb(97, 97, 97);
    color: white;
    line-height: 70px;
    padding: 8px;
    border: 2px solid black;
}

#main{
    border: 1px solid black;
    margin: 0px 80px;
    padding: 20px;
}

#main-left{
    float: left;
}

#main-right{
    float: right;
}

#list{
    padding: 25px 200px;
}

#inspirations{
    padding: 25px;
    line-height: 30px;
}

#adjust-title{
    padding: 25px;
    line-height: 30px;
}

#icons-centralize{
    padding: 60px 260px;
}